[
  {
    "name"      : "api-${env}",
    "image"     : "${account_id}.dkr.ecr.${region}.amazonaws.com/api:${app_version}",
    "essential" : true,

    "portMappings" : [
      {
        "containerPort" : ${port},
        "hostPort"      : ${port}
      }
    ],

    "logConfiguration" : {
      "logDriver" : "awslogs",
      "options"   : {
        "awslogs-group"         : "ecs-${env}",
        "awslogs-region"        : "${region}",
        "awslogs-stream-prefix" : "api-${env}"
      }
    },

    "environment": [
      { "name" : "REDIS_SERVER",            "value" : "${redis_url}:6379" },
      { "name" : "AWS_ELB_ARN",             "value" : "${aws_elb_arn}" },
      { "name" : "APP_ENV",                 "value" : "${env}" }
    ]
  },

  {
    "name"      : "api-nginx-${env}",
    "image"     : "${account_id}.dkr.ecr.${region}.amazonaws.com/api-nginx:${app_version}",
    "essential" : true,

    "portMappings" : [
      {
      "containerPort" : 80,
      "hostPort"      : 80
      }
    ],

    "logConfiguration" : {
      "logDriver" : "awslogs",
      "options" : {
        "awslogs-group"         : "ecs-${env}",
        "awslogs-region"        : "${region}",
        "awslogs-stream-prefix" : "api-nginx"
      }
    },

    "environment" : [
      { "name" : "ADMIN_DATABASE", "value" : "lawly_admin" },
      { "name" : "AWS_REGION",     "value" : "${region}" }
    ] 
  }
]